@page
@model RazorPages.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}
   


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        My name is Meech Lamirande Kabuasa a CET student,
        i like anime, art, and love to code
    </p> <br><br><br><br>
</div>
